.manufacturer_main_div {
  display: flex;
  width: 100%;

  .manufacturer_main_form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.common_div_top {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  background-color: var(--light-blue);
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 9;

  .cancel_button,
  .save_button {
    display: flex;
    min-height: 36px;
    padding: 4px 14px;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
  }

  .cancel_button {
    color: #fff;
    border: 1.5px solid #fff;
  }

  .save_button {
    color: #12182b;
    border: 1.5px solid #e7f5f8;
    background-color: #e7f5f8;
  }
}

.manufacturer_container {
  display: flex;
  align-items: flex-start;
  .manufacturer_navigation {
    display: flex;
    min-width: 220px;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    background: #e7f5f8;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: sticky;
      top: 90px;
    }

    li {
      display: flex;
      min-height: 36px;
      padding: 4px 14px;
      align-items: center;
      gap: 6px;
      border-radius: 8px;
      color: #12182b;
      font-family: "Manrope", sans-serif;
      font-size: 13px;
      font-weight: 700;
    }

    .active {
      background: #fff;
    }
  }
}

.manufacturer_heading {
  position: relative;
  margin-top: 30px;

  &::before {
    content: "";
    border-radius: 2px;
    background: #12182b;
    width: 30px;
    height: 5px;
    position: absolute;
    top: -13px;
    left: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .searchInput {
      width: 350px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: 0;
    }

    .addButton {
      background-color: #30c9c8;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  h2 {
    color: #12182b;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0px;
  }
}

.main_loader {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  span {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-150px, -150px);
    div {
      width: 150px !important;
      height: 150px !important;
    }
  }
}

.manufacturer_field {
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 60px;
  flex: 1 0 0;

  .manufacturer_section_div {
    min-width: 940px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.manufacturer_info_details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 12px;
      border-bottom: 1px solid #eee;
    }

    th {
      background-color: #f8f8f8;
      font-weight: bold;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;

  > * {
    margin-left: 10px;
  }

  .paginationControls {
    display: flex;
    align-items: center;

    > * {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}

.form_floating {
  position: relative;
  min-width: 320px;

  .edit_icon {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
    cursor: pointer;
  }

  &:hover {
    .edit_icon {
      display: block;
    }
  }
}

.no_data_found_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
